{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- <form>
    {{form}}
    <input type="submit" />
</form> -->

<!-- <style>
    input[type='text'],
    input[type='email'],
    input[type='password'] {
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-bg);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
        outline: none;
        border: 2px solid var(--color-main);
    }
</style> -->


<main class="formPage my-xl reset-password events-single">
    <div class="content-box">
        <div class="formWrapper">
            <div class="auth__header text-center reset-pass-logo-and-text-flexed">
                <img src="{% static 'images/EPSU.jpg' %}" alt="icon" class="reset-password-image" />
                <div class="reset-pass-color">
                    <h3>EPSU-KNUST</h3>
                    <h3>THE LOVE SANCTUARY</h3>
                </div>
              </div>

            <h3 class="margin-bottom"> Password reset </h3>

            <p>Forgotten your password? Enter your email address below and we'll email instructions for setting a new one.</p>
            <!-- <a class="backButton" href="#"><i class="im im-angle-left"></i></a> -->
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                <!-- Input:Text -->
                {{form.as_p}}

                <input class="btn1 btn1--sub btn1--lg  my-md" type="submit" value="Submit" />
            </form>
            
            <h5 class="organa-team">The_Organizing_Team#24</h5>
        </div>
    </div>
</main>

{% endblock content %}
