{% extends 'main.html' %}

{% load static %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl reset-password">
    <div class="content-box">
        <div class="formWrapper">
            <div class="auth__header text-center reset-pass-logo-and-text-flexed">
                <img src="{% static 'images/EPSU.jpg' %}" alt="icon" class="reset-password-image" />
                <div class="reset-pass-color">
                    <h3>EPSU-KNUST</h3>
                    <h3>THE LOVE SANCTUARY</h3>
                </div>
              </div>

            <h3 class="margin-bottom">Password reset complete</h3>

            <p>Your password has been changed. You may go ahead and log in now.</p>
            <br>
            <a href="{% url 'login' %}" class="login">Login</a>
            <h5 class="organa-team">The_Organizing_Team#24</h5>
        </div>
    </div>
</main>

{% endblock content %}